var proxy = 'PROXY {{ .OuterProxy }}';
var rules = [
  [ ["ipip.net"], [ {{ .DirectTargets }}] ],
  [ ["ifconfig.co" ], [  {{ .OuterTargets }} ] ]
];

var lastRule = '';
var internalProxy = 'PROXY {{ .InternalProxy }}';

function FindProxyForURL(url, host) {

    internal = [ {{ .InternalTargets }} ];

    for (i = 0; i < internal.length; i++) { 
        if (dnsDomainIs(host, internal[i])) { 
			return internalProxy;
        } 
    } 

    for (var i = 0; i < rules.length; i++) {
        ret = testHost(host, i);
        if (ret != undefined)
            return ret;
    }
    return 'DIRECT';
}

function testHost(host, index) {
    for (var i = 0; i < rules[index].length; i++) {
        for (var j = 0; j < rules[index][i].length; j++) {
            lastRule = rules[index][i][j];
            if (host == lastRule || host.endsWith('.' + lastRule))
			if (i == 0) {
				return 'DIRECT';
			} 
			return proxy;
        }
    }
    lastRule = '';
}
