var internalProxy = 'PROXY {{ .InternalProxy }}';
var outerProxy = 'SOCKS5 {{ .OuterProxy }}';

var internalDomains = [ {{ .InternalTargets }} ];
var outerDomains = [  {{ .OuterTargets }} ] ;


function FindProxyForURL(url, host) {

    for (i = 0; i < internalDomains.length; i++) { 
        if (dnsDomainIs(host, internalDomains[i])) { 
			return internalProxy;
        } 
    } 


    for (var i = 0; i < outerDomains.length; i++) {
        if (dnsDomainIs(host, outerDomains[i])) { 
			return outerProxy;
        } 
    }
    return 'DIRECT';
}
